@model quiz_project.ViewModels.QuizViewModel;

@section Scripts {
    <script src="~/js/quizEditor.js"></script>

    <script>
        let questionCounter = @Model.Questions.Count();

        function updateCounter() {
            questionCounter++;
        }

        function hideMessage() {
            var message = document.querySelector(".alert-info");
            if (message) {
                document.querySelector(".alert-info").style.display = "none";
            }
        }
    </script>
}

<h1>Edit this quiz</h1>

<div class="container">
    <form method="post">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsPublic">Make quiz public ?</label>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsPublic" value="true" />
                        <label class="form-check-label">Yes</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsPublic" value="false" />
                        <label class="form-check-label">No</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Update</button>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-start">

                @if (!Model.Questions.Any())
                {
                    <div class="alert alert-info">
                        This quiz has no questions yet.
                    </div>
                }
                <div id="questions-container">
                    @for (int i = 0; i < Model.Questions.Count; i++)
                    {
                        var question = Model.Questions[i];

                        <div class="border p-3 mb-3 bg-light" id="question-@i">
                            <button class="btn btn-danger" onclick="removeQuestion(@i)">Remove</button>
                            <h5>Question @(i + 1)</h5>
                            <div class="form-group">
                                <label>Description</label>
                                <input name="Questions[@i].Description" asp-for="@question.Description"
                                    class="form-control" />
                                <span asp-validation-for="@question.Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>Score</label>
                                <input name="Questions[@i].QuestionScore" asp-for="@question.QuestionScore"
                                    class="form-control" />
                                <span asp-validation-for="@question.QuestionScore" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>How many answers?</label>
                                <input type="number" min="1" max="10" class="form-control" placeholder="e.g. 4"
                                    onchange="addAnswers(this, ${questionCounter})" />
                            </div>

                            @for (int j = 0; j < question.Answers.Count; j++)
                            {
                                var answer = question.Answers[j];
                                <div class="form-group">
                                    <label>Answer @(j + 1)</label>
                                    <input name="Questions[@i].Answers[@j].Description" asp-for="@answer.Description"
                                        class="form-control mb-1" />
                                    <span asp-validation-for="@answer.Description" class="text-danger"></span>
                                    <div class="form-check">
                                        <label class="form-check-label">Correct</label>
                                        <input name="Questions[@i].Answers[@j].IsCorrect" asp-for="@answer.IsCorrect"
                                            class="form-check-input" />
                                        <span asp-validation-for="@answer.IsCorrect" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <button type="button" class="btn btn-success"
                    onclick="addQuestion(questionCounter), updateCounter(), hideMessage()">Add a
                    Question</button>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </form>
    <form asp-controller="Quiz" asp-action="Index" method="get" class="col">
        <button type="submit" class="btn btn-danger text-white" style="margin: 2px">Return</button>
    </form>
</div>
